@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
}

.color-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #00000033;

}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
}

.page-header {
    color: #000000;
    }

.navigation-list {
    list-style-type: none;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    }

.button-like {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 50px;
}

.hero-block {
    background-image: url(../images/vector-hero.svg), url(../images/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: bottom, top;
}

.advantages-list-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.advantages {
    text-align: center;
}

.advantages-list {
    font-size: 18px;
    line-height: 21px;
    }

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item:first-child,
.advantages-item:last-child {
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

.services {
    text-align: center;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.services-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-item {
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2) {
    background-color: #ffffff;
}

.main-search {
    text-align: center;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-search a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 8px 50px;
}

.newsletters {
    text-align: center;
    color: #ffffff;
    background: url(../images/background-subscribe.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
}

.main-newsletters {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.field {
    color: #000000;
    background-color: #f2f2f2;
}

.newsletters-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.inner-header {
    color: #ffffff;
    }

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.hero-catalog {
    color: #ffffff;
    background-color: #4682B4;
    background-image: url(../images/catalog-back.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}



.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.button-submit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
}

.button-reset {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: rgba(131, 179, 211, 0);
    padding: 8px 50px;
    border: none;
}

.search-results {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-display {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid lightgrey;
}

.button-dark {
    border: 1px solid #000000;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotels-list {
    font-size: 18px;
    line-height: 21px;
    }

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-link {
    text-decoration: none;
}

.button-favorite {
    background-color: #82B3D3;
    border: none;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: #F2F2F2;
}

.button-in-favorites {
    background-color: #7DB54F;
    border: none;
}

.pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletters-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}
