@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #00000033;
}

.main-container {
    flex-grow: 1;
}


.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
    box-sizing: border-box;
}

.page-header {
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

.navigation-logo {
    display: flex;
    margin-right: 28px;
    margin-bottom: -6px;
    position: relative;

}

.navigation-user {
    justify-content: flex-end;;
    max-width: 280px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.navigation-item {
    min-width: 44px;
    min-height: 64px;
}

.button-like {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 160px;
    padding: 8px 34px;
    margin: 14px 0;
}

.hero-block {
    display: flex;
    justify-content: center;
    width: auto;
    height: 485px;
    background-color: #4682B4;
    background-image: url(../images/vector-hero.svg), url(../images/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover auto, contain;
    background-position: bottom, top;
    margin-bottom: 69px;
}

.logo-welcome {
    padding-top: 51px;
    padding-bottom: 82px;
}

.advantages-list-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages-title-description {
    max-width: 653px;
    margin: 0 auto 90px;
}

.advantages {
    text-align: center;
    margin-bottom: 64px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;

}

.advantages-title {
    width: 175px;
    margin: auto;
    padding-top: 112px;
    margin-bottom: 62px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    width: 230px;
    margin: 0 auto;
    padding-bottom: 102px;
}

.thumbnail {
    display: block;
}

.advantages-item {
    width: 400px;
    height: 385px;
    color: #ffffff;
    background-color: #82B3D3;
}

.item-wide {
    display: flex;
    width: 100%;
}

.item-wide-reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.advantages-content {
    margin: auto;
}


.light-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.middle-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
}

.services {
    text-align: center;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 510px;
    margin: 0 auto 20px;
}

.services-title-description {
    max-width: 500px;
    margin: 0 auto 64px;
}

.services-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.services-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 385px;
}

.services-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 230px;
    margin: 0 auto 30px;
}

.services-pic {
    order: -1;
    margin: 81px auto 30px;
}

.services-description {
    max-width: 230px;
    margin: 0 auto auto;
}

.white {
    background-color: #ffffff;
}

.main-search {
    text-align: center;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 96px auto 20px;
}

.search-title-description {
    max-width: 600px;
    margin: 0 auto 54px;
}

.button-search {
    display: block;
    width: 376px;
    height: 52px;
    margin: 0 auto 96px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 8px 50px;
}

.newsletters {
    text-align: center;
    color: #ffffff;
    background-color: #4682B4;
    background-image: url(../images/background-subscribe.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
}



.main-newsletters {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 20px;
    padding-top: 96px;
}

.newsletters-description {
    max-width: 480px;
    margin: 0 auto 54px;
}

.newsletters-form {
    display: flex;
    justify-content: center;
    width: 684px;
    padding-bottom: 104px;
    margin: 0 auto;
}

.field {
    color: #000000;
    background-color: #f2f2f2;
    width: 452px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.newsletters-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-footer-container {
    display: flex;
    width: 1060px;
    padding: 40px 70px 30px 70px;

}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px auto 5px 0;
    margin-right: auto;
    list-style-type: none;
}

.footer-social-item {
    margin: 0;
    padding: 0;


}

.button-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 40px;
    margin: 0;

}



.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    width: 720px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.htmlacademy-link {
    margin: 8px 0 8px auto;
}

.inner-header {
    color: #ffffff;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}

.hero-catalog {
    color: #ffffff;
    background-color: #4682B4;
    background-image: url(../images/catalog-back.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 70px 70px 70px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
}

.breadcrumbs-item {
    margin-right: 28px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #ffffff;
}

.catalog-filter {
    display: flex;
    }

.catalog-filter-group {
    margin-right: 70px;
    padding: 0;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-list {
    width: 150px;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.buttons {
    margin-left: auto;
    display:flex;
    flex-direction: column;
    margin-top: 32px;
    }

.button-submit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
    margin-left: auto;
    margin-bottom: 32px;
    height: 36px;

}

.button-reset {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: rgba(131, 179, 211, 0);
    padding: 8px 50px;
    border: none;
    }

.results {
    margin: 50px 70px 60px;
}

.results-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-results {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 350px;
    margin: 0;

}

.select-control {
    width: 292px;
}

.buttons-display {
    display: flex;
    justify-content: space-between;
    width: 160px;

}

.button-display {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;

}

.button-dark {
    border: 1px solid #000000;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotels-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    list-style-type: none;

}

.hotel-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 212px 28px 21px 36px 37px;
    row-gap: 16px;;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-link {
    text-decoration: none;
}

.button-favorite {
    background-color: #82B3D3;
    border: none;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: #F2F2F2;
}

.button-in-favorites {
    background-color: #7DB54F;
    border: none;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 17px;
    margin-right: 8px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletters-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}
