@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #00000033;
}

.main-container {
    flex-grow: 1;
}


.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 50px;
}

.page-header {
    color: #000000;
}

.navigation {
    display: flex;
    margin: 0 70px;
}

.navigation-logo {
    margin-right: 28px;
}

.navigation-list {
    width: 339px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 350px;
    margin-left: auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.button-like {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 50px;
}

.hero-block {
    display: flex;
    justify-content: center;
    width: auto;
    height: 485px;
    background-color: #4682B4;
    background-image: url(../images/vector-hero.svg), url(../images/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain auto, contain;
    background-position: bottom, top;
}

.logo-welcome {
    padding-top: 51px;
    padding-bottom: 82px;
}

.advantages-list-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 630px;
    margin: 69px auto 25px;

}

.advantages-title-description {
    max-width: 653px;
    margin: 0 auto 69px;
}

.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 21px 0;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item {
    min-width: 400px;
    color: #ffffff;
    background-color: #82B3D3;
}

.light-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.middle-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-second-row {
    display: flex;
    width: 1200px;

}

.services {
    text-align: center;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.services-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list {
    display: flex;
    padding: 0;
}

.services-item {
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(131, 179, 211, 0.12);
}

.white {
    background-color: #ffffff;
}

.main-search {
    text-align: center;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-search a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 8px 50px;
}

.newsletters {
    text-align: center;
    color: #ffffff;
    background-color: #4682B4;
    background-image: url(../images/background-subscribe.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
}

.main-newsletters {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.field {
    color: #000000;
    background-color: #f2f2f2;
}

.newsletters-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
}

.page-footer-container {
    display: flex;
    padding: 40px 70px 30px 70px;
    justify-content: space-between;
}
.footer-social-list {
    display: flex;
    padding: 0;
    margin: 5px auto;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    margin: 5px auto;
}

.htmlacademy-link {
    margin: 8px 0 8px auto;
}

.inner-header {
    color: #ffffff;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}

.hero-catalog {
    color: #ffffff;
    background-color: #4682B4;
    background-image: url(../images/catalog-back.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 70px 70px 70px;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-group {
    margin-right: 70px;
    padding: 0;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-list {
    width: 150px;
    padding: 0;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.button-submit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;

}

.button-reset {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: rgba(131, 179, 211, 0);
    padding: 8px 50px;
    border: none;
}

.results-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px 70px 60px 70px;
    align-items: center;
}

.search-results {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 350px;

}

.select-control {
    width: 292px;
}

.buttons-display {
    display: flex;
    justify-content: space-between;
    width: 160px;

}

.button-display {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;

}

.button-dark {
    border: 1px solid #000000;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotels-list {
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 70px 80px 70px;
    padding: 0;

}

.hotel-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-link {
    text-decoration: none;
}

.button-favorite {
    background-color: #82B3D3;
    border: none;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: #F2F2F2;
}

.button-in-favorites {
    background-color: #7DB54F;
    border: none;
}

.pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletters-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}
