@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 #00000033;
}

.main-container {
    flex-grow: 1;
}


.button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.page-header {
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

.navigation-link-current::before {
    position: absolute;
    right: 16px;
    bottom: -1px;
    left: 16px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-logo {
    display: flex;
    margin-right: 28px;
    margin-bottom: -6px;
    position: relative;

}

.navigation-user {
    justify-content: flex-end;
    ;
    max-width: 280px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.navigation-item {
    min-width: 44px;
    min-height: 64px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 64px;
    background-image: url("../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-like {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 64px;
    background-image: url("../images/icons/like.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.like-count {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 4px;
    font: inherit;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.button-like {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 160px;
    padding: 8px 34px;
    margin: 14px 0;
    margin-left: 20px;
}

.hero-block {
    display: flex;
    justify-content: center;
    width: auto;
    height: 485px;
    background-color: #4682B4;
    background-image: url("../images/vector-hero.svg"), url("../images/index-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover auto, contain;
    background-position: bottom, top;
    margin-bottom: 69px;
}

.logo-welcome {
    padding-top: 51px;
    padding-bottom: 82px;
}

.advantages-list-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages-title-description {
    max-width: 653px;
    margin: 0 auto 90px;
}

.advantages {
    text-align: center;
    margin-bottom: 64px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;

}

.advantages-title {
    position: relative;
    width: 175px;
    margin: auto;
    padding-top: 112px;
    margin-bottom: 62px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-title::before {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    background-color: #ffffff;
    content: "";
}

.second-row .advantages-title::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
    width: 230px;
    margin: 0 auto;
    padding-bottom: 102px;
}

.second-row .advantages-description {
    color: #333333;
}

.thumbnail {
    display: block;
}

.advantages-item {
    width: 400px;
    height: 385px;
    color: #ffffff;
    background-color: #82B3D3;
}

.item-wide {
    display: flex;
    width: 100%;
}

.item-wide-reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.advantages-content {
    margin: auto;
}


.light-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
}

.middle-blue {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
}

.services {
    text-align: center;
}

.services-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 510px;
    margin: 0 auto 20px;
}

.services-title-description {
    max-width: 500px;
    margin: 0 auto 64px;
}

.services-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.services-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 385px;
}

.services-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 230px;
    margin: 0 auto 30px;
}

.services-pic {
    order: -1;
    margin: 81px auto 30px;
}

.services-description {
    max-width: 230px;
    margin: 0 auto auto;
}

.white {
    background-color: #ffffff;
}

.main-search {
    text-align: center;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 96px auto 20px;
}

.search-title-description {
    max-width: 600px;
    margin: 0 auto 54px;
}

.button-search {
    display: block;
    width: 376px;
    height: 52px;
    margin: 0 auto 96px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 8px 50px;
}

.newsletters {
    text-align: center;
    color: #ffffff;
    background-color: #4682B4;
    background-image: url("../images/background-subscribe.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
}



.main-newsletters {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 20px;
    padding-top: 96px;
}

.newsletters-description {
    max-width: 480px;
    margin: 0 auto 54px;
}

.newsletters-form {
    display: flex;
    justify-content: center;
    width: 684px;
    padding-bottom: 104px;
    margin: 0 auto;
}

.field {
    color: #000000;
    background-color: #f2f2f2;
    width: 452px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding-left: 20px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.newsletters-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-footer-container {
    display: flex;
    width: 1060px;
    padding: 40px 70px 30px 70px;

}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px auto 5px 0;
    margin-right: auto;
    list-style-type: none;
}

.footer-social-item {
    margin: 0;
    padding: 0;


}

.button-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 40px;
    margin: 0;

}

.footer-social-icon:hover path {
    fill: #68A2CA;
}

.footer-social-icon:focus path {
    fill: #68A2CA;
}

.footer-social-icon:active path {
    fill: rgba(104, 162, 202, 0.3);
}


.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    width: 720px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
    margin: 8px 0 8px auto;
}

.htmlacademy-logo:hover path {
    fill: #756157;
}

.htmlacademy-logo:focus path {
    fill: #756157;
}

.htmlacademy-logo:active path {
    fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
    color: #ffffff;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}

.hero-catalog {
    color: #ffffff;
    background-color: #4682B4;
    background-image: url("../images/catalog-back.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 70px 70px 70px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
}



.breadcrumbs-item {
    position: relative;
    margin-right: 28px;
}

.breadcrumbs-item::after {
    position: absolute;
    background-image: url("../images/icons/arrow.svg");
    top: 5px;
    right: -20px;
    width: 8px;
    height: 11px;
    content: "";
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #ffffff;
}



.breadcrumbs-link-home:hover path {
    fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:active path {
    fill: rgba(255, 255, 255, 0.6);
}



.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    padding: 0;
    border: none;
    margin: 0;
    margin-right: 70px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    padding: 0;
}

.catalog-filter-list {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control:hover {
    opacity: 60%;
}

.control:active {
    opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 6px;
    left: 4px;
    background-image: url("../images/icons/mark.svg");
    width: 12px;
    height: 10px;
    content: "";
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.range-scale {
    position: relative;
    height: 4px;
    width: 287px;
    background-color: rgba(255, 255, 255, 0.3);

}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.range-toggle:active {
    border: 2px solid #83B3D3;
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    margin-bottom: 48px;
    width: 288px;
}

.range-input {
    position: relative;
    width: 143px;
    padding: 12px 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    appearance: textfield;
    box-sizing: border-box;
    border: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.range-from {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.range-to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.catalog-filter-field {
    position: relative;
    display: flex;
}

.catalog-filter-field span {
    position: absolute;
    font-family: inherit;
    line-height: 24px;
    font-size: 18px;
    right: 12px;
    top: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-field + .catalog-filter-field {
    margin-left: 2px;
}



.buttons-filter {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.button-submit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    padding: 8px 50px;
    border: none;
    margin-left: auto;
    margin-bottom: 32px;

}

.button-reset {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: rgba(131, 179, 211, 0);
    padding: 8px 50px;
    border: none;
}

.results {
    margin: 50px 70px 60px;
}

.results-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.search-results {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 350px;
    margin: 0;
    margin-right: auto;
}

.select-control {
    width: 292px;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding: 14px 20px;
    padding-right: 53px;
    border: 2px solid #E5E5E5;
    background-color: #ffffff;
    appearance: none;
    margin-right: 70px;
    background-image: url(../images/icons/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.select-control:hover {
    border-color: #68A2CA;
}

.select-control:active {
    border-color: #3F5E72;
}

.buttons-view {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.button-view-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid lightgrey;
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;

}

.button-view-toggle:hover {
    border-color: black;
}

.button-view-toggle:focus {
    border-color: #68A2CA;
}

.button-view-toggle:active {
    border-color: black;
}

.button-dark {
    border: 2px solid #000000;
}

.hotels-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    list-style-type: none;
}

.hotels-list::after {
    position: absolute;
    content: "";
    bottom: -40px;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
}

.hotel-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 212px 28px 21px 36px 37px;
    row-gap: 16px;
    column-gap: 20px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-image-link {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

}

.hotel-card-title-link {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    text-decoration: none;
}

.hotel-card-title {
    margin: 0;
}

.hotel-type {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
    justify-self: start;
}

.hotel-price {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
    justify-self: end;
}

.button-about {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 140px;
    padding: 8px 26px;

}

.button-favorite {
    display: inline-block;
    font-family: inherit;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #82B3D3;
    border: none;
    justify-self: center;
    width: 140px;
    padding: 8px 18px;
    box-sizing: border-box;
}

.rating-stars-count {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    display: flex;
    padding-top: 10px;
}

.rating-star-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rating-star {
    width: 18px;
    height: 17px;
    margin-right: 6px;
    background-color: white;
    background-image: url("../images/icons/star.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.rating-star-item {
    margin-right: 6px;

}

.rating {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background-color: #F2F2F2;
    justify-self: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 22px;
}

.button-in-favorites {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #7DB54F;
    border: none;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 17px;
    margin-right: 8px;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: #68A2CA;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-item span {
    display: inline-block;
    padding: 16px 20px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletters-catalog {
    color: #000000;
    background-color: #ffffff;
    background-image: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    border-radius: 30px;
}

.modal-search {
    width: 717px;
    box-sizing: border-box;

}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-title {
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 64px;
}

.modal-search-form {
    display: grid;
    grid-template-columns: 119px 110px 183px 110px;
    row-gap: 48px;
    column-gap: 18px;
    align-items: center;
    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.date-arrival {
    grid-column: 1 / 2;
}

.input-wrapper {
    position: relative;
    grid-column: 2 / 5;
}

.modal-search-submit {
    grid-column: 1 / -1;
    height: 60px;
    border-radius: 10px;
    background-color: #83B3D3;
}


.button-modal {
    width: 40px;
    height: 48px;
    color: transparent;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.plus {
    background-image: url("../images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.minus {
    background-image: url("../images/icons/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.search-form-field {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    width: 440px;
    border-radius: 4px;
    padding: 12px 48px 12px 20px;
    border: none;
    background-color: #F2F2F2;
    box-sizing: border-box;

}

.dates {
    background-image: url("../images/icons/dates.svg");
    background-repeat: no-repeat;
    background-position: right 22px center;
}

.input-comment {
    position: absolute;
    bottom: -25px;
}

.comment {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.comment-error {
    color: #FF5757;
}

.count-peoples {
    width: 110px;
    height: 48px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.number-wrapper {
    position: relative;
}

.number-wrapper-button {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kids-wrapper {
    position: relative;
    justify-self: end;
    margin-right: 64px;
}

.tooltip {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    height: 26px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    display: block;

}

.tooltip-icon {
    width: 100%;
    height: 100%;
    color:rgba(0, 0, 0, 0.3);
    display: block;
}


.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    padding: 15px 18px;
    border-radius: 10px;
    width: 256px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 15px;
    left: 70%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}
